<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://cabapis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>cabapis.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cabapis</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$cabapis</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cabmanagementEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cabmanagement.mssql.somee.com;Initial Catalog=cabmanagement;Persist Security Info=True;User ID=vispharaon;Password=cabbazapodataka;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cabmanagementEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Stan.csdl|res://*/Models.Stan.ssdl|res://*/Models.Stan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cabmanagement.mssql.somee.com;initial catalog=cabmanagement;persist security info=True;user id=vispharaon;password=cabbazapodataka;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CABManagementAPICall-20150413140953.mdf;Initial Catalog=aspnet-CABManagementAPICall-20150413140953;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CABManagementAPICall-20150413140953;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CABManagementAPICall-20150413140953.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cabmanagementEntities3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CABManagementAPICall.Models.cabmanagementEntities3, CABManagementAPICall" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CABManagementAPICallContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|CABManagementAPICallContext-20160220190911.mdf;Initial Catalog=CABManagementAPICallContext-20160220190911;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CABManagementAPICallContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=CABManagementAPICallContext-20160220190911; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|CABManagementAPICallContext-20160220190911.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cabmanagementEntities2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cabmanagement.mssql.somee.com;Initial Catalog=cabmanagement;Persist Security Info=True;User ID=vispharaon;Password=cabbazapodataka;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cabmanagementEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cabmanagement.mssql.somee.com;initial catalog=cabmanagement;persist security info=True;user id=vispharaon;password=cabbazapodataka;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cabmanagementEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cabmanagement.mssql.somee.com;Initial Catalog=cabmanagement;Persist Security Info=True;User ID=vispharaon;Password=cabbazapodataka;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cabmanagementEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.CABEntities.csdl|res://*/Models.CABEntities.ssdl|res://*/Models.CABEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cabmanagement.mssql.somee.com;initial catalog=cabmanagement;persist security info=True;user id=vispharaon;password=cabbazapodataka;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CABManagementAPICallContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cabmanagementEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cabmanagementEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cabmanagementEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cabmanagementEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>